/* ========== NAVBAR ========== */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');
.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;

  background: #e7e3dd;

  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);

  transition: all 0.35s ease;
}

.nav-hide {
  transform: translateY(-100%);
}

.nav-show {
  transform: translateY(0);
}

/* ========== CONTAINER ========== */

.nav-container {
  width: 100%;
  max-width: 1500px;

  margin: 0 auto;

  padding: 10px 40px;

  display: grid;

  grid-template-columns: 220px 1fr 260px;

  align-items: center;
}

/* ========== LOGO ========== */

.nav-logo {
  display: flex;

  justify-content: flex-start;

  align-items: center;

  cursor: pointer;
}

.logo-img {
  height: 70px;

  width: auto;

  border-radius: 18px;

  transition: 0.3s;
}

.logo-img:hover {
  transform: scale(1.05);
}

/* ========== NAV LINKS ========== */

.nav-links {
  display: flex;

  justify-content: center;

  align-items: center;

  gap: 48px;
}

.nav-links a {
  text-decoration: none;

  color: #222;

  font-size: 25px;

  font-weight: 600;

  letter-spacing: 0.3px;

  position: relative;

  transition: 0.3s;

  font-family: "Cormorant Garamond", serif;
}

.nav-links a::after {
  content: "";

  position: absolute;

  left: 0;

  bottom: -8px;

  width: 0;

  height: 2px;

  background: #c6a972;

  transition: 0.35s;
}

.nav-links a:hover {
  color: #c6a972;
}

.nav-links a:hover::after {
  width: 100%;
}

/* ========== BUTTONS ========== */

.nav-buttons {
  display: flex;

  justify-content: flex-end;

  align-items: center;

  gap: 18px;
}

.login-btn,
.start-btn {
  background: #c6a972;

  color: white;

  border: none;

  border-radius: 999px;

  padding: 13px 28px;

  font-size: 17px;

  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;

  box-shadow: 0 8px 24px rgba(198, 169, 114, 0.18);
}

.login-btn:hover,
.start-btn:hover {
  transform: translateY(-2px);

  background: #b8945f;

  box-shadow: 0 12px 30px rgba(198, 169, 114, 0.28);
}

/* ========== RESPONSIVE ========== */

@media (max-width: 1100px) {
  .nav-container {
    grid-template-columns: 170px 1fr 210px;

    padding: 16px 20px;
  }

  .logo-img {
    height: 58px;
  }

  .nav-links {
    gap: 28px;
  }

  .nav-links a {
    font-size: 17px;
  }

  .login-btn,
  .start-btn {
    padding: 20px 20px;

    font-size: 25px;
  }
}

@media (max-width: 900px) {
  .nav-container {
    display: flex;

    justify-content: space-between;
  }

  .nav-links {
    display: none;
  }
}
